*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties
.idea/caches/
.idea/codeStyles/
.idea/encodings.xml
.idea/gradle.xml
.idea/markdown-navigator/
.idea/runConfigurations.xml
.idea/vcs.xml
gradle/
gradlew
gradlew.bat
